@import "../../../../../assets/colorVariable";

.header-section {
  height: 100vh;
  margin-top: -100px;

  .tagline-container {
    height: 100%;
    @media screen and (max-width: 768px) {
      height: 50%;
    }
    .tagLine-wrapper {
      color: $white;
      height: 100%;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 768px) {
        align-items: end;
      }
      // padding-left: 32%;
      // padding-right: 5%;
      h5 {
        font-weight: normal;
        line-height: 125%;
      }
      .button-home {
        background-color: $primary;
        padding: 0.6rem 2rem;
        border-radius: 5px;
        border: none;
        font-weight: bold;
      }
    }
  }
  .description-container {
    height: 100%;
    padding-left: 0;
    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
      height: 50%;
    }
    @media screen and (max-width: 426px) {
      padding-left: 1rem;
    }

    @media screen and (max-width: 321px) {
      display: none;
    }
    .yearsOfExperiences,
    .happyCustomers {
      padding: 5%;
      border-radius: 15px;
      background-color: rgba($color: #404852, $alpha: 0.5);
      color: $secondary;

      .angka {
        font-size: 4rem;

        @media screen and (max-width: 768px) {
          font-size: 3rem;
        }

        @media screen and (max-width: 426px) {
          font-size: 2rem;
        }

        font-weight: bold;
      }
      .plus {
        font-size: 2rem;
      }
      .description {
        margin-top: -10px;
        font-weight: 500;
        @media screen and (max-width: 1024px) {
          font-size: 1.2rem;
        }

        @media screen and (max-width: 426px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 376px) {
          padding-top: 5px;
          font-size: 0.75rem;
        }
      }
    }
  }

  .description-container-xs {
    @media screen and (min-width: 321px) {
      display: none;
    }
    .yearsOfExperiences,
    .happyCustomers {
      padding: 5%;
      border-radius: 15px;
      background-color: rgba($color: #404852, $alpha: 0.5);
      color: $secondary;

      .angka {
        font-size: 4rem;

        @media screen and (max-width: 768px) {
          font-size: 3rem;
        }

        @media screen and (max-width: 425px) {
          font-size: 2.5rem;
        }

        font-weight: bold;
      }
      .plus {
        font-size: 2rem;
      }
      .description {
        margin-top: -10px;
        font-weight: 500;
        @media screen and (max-width: 1024px) {
          font-size: 1.2rem;
        }

        @media screen and (max-width: 426px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 376px) {
          font-size: 0.8rem;
        }
      }
    }
  }
}
