@import "../../../assets/colorVariable";
a.brand-text-icon {
  text-decoration: none;
  list-style: none;
  span.brand-icon {
    margin-left: 0.875rem;
    align-items: center;
    font-weight: 600;
    @media screen and (max-width: 321px) {
      display: none;
    }
    .text-white {
      color: $white;
    }
    .text-black {
      color: $black;
    }
  }
}
