@import "../../../assets/colorVariable";

.carousel-container {
  position: relative;
  overflow: hidden;
  height: 75%;

  .carousel-track {
    display: flex;
    transition: transform 0.5s ease; /* Use transform for the slide animation */
    height: 100%;

    .carousel-slide {
      min-width: 100%;
      flex-shrink: 0;
      height: 100%;

      & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

.button-slide {
  background-color: $primary;
  border: none;
  padding: 7px 12px;
  border-radius: 20px;
  font-size: 1.2rem;
}
