@import "../../../../../assets/colorVariable";

.testimonial-section {
  padding-top: 3%;
  padding-left: 0;
  padding-right: 0;
  .title {
    font-size: 1.6rem;
    font-weight: bold;
    align-items: center;
    padding-left: 7%;
    margin-bottom: 0;
  }

  .testimonials {
    padding-top: 3%;
    position: relative;
    height: 75%;
    width: 90%;
    overflow: hidden;
    margin-left: 3%;
    .testimonial-track {
      display: flex;
      transition: transform 0.5s ease; /* Use transform for the slide animation */
      height: 100%;

      .testimonial-wrapper {
        .testimonial {
          background-color: $secondary;
          border-radius: 10px;
          padding: 5rem 0;
          margin: 0 1.2rem;
          .description {
            padding: 4%;
            font-size: 1rem;
          }
          .client-section {
            font-size: 1rem;
            img {
              width: 60px;
              height: 60px;
              border-radius: 100px;
            }
            .client-name {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
