@import "../../../../../assets/colorVariable";

.input-tgl {
  margin-left: 1rem;
}

.header {
  font-size: 1.2rem;
}

.img-wrapper {
  width: 150px;
  height: 150px;
  padding-right: 1rem;
  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.project-input {
  font-size: 1.2rem;
}

.table {
  td.page-size-style {
    padding: 0 1rem 1.2rem 0;
    .dropdown-custom {
      .dropdown-toggle {
        width: 100%;
        text-align: left;
        &::after {
          margin-left: 75%;
        }
      }
    }
  }
  td.search-text-style {
    padding-bottom: 1.2rem;
  }
}
