@import "../../../assets/colorVariable";

.sidenav {
  height: 100%;
  width: 10vw;
  position: fixed;
  top: 1;
  left: 0;
  background-color: $primary;
  overflow-x: hidden;
  padding-top: 3%;
  padding-left: 0.5rem;
  .nav-link {
    &.active {
      font-weight: bold;
    }
  }

  a {
    padding: 2%;
    text-decoration: none;
    font-size: 1.5rem;
    color: $black;
    display: block;
  }
}
