@import "../../../../../assets/colorVariable";

.our-services {
  padding-top: 3%;
  padding-left: 0;
  padding-right: 0;
  .title {
    font-size: 1.6rem;
    font-weight: bold;
    align-items: center;
    padding-left: 7%;
    margin-bottom: 0;
  }
}
.services {
  .carousel-container {
    padding: 0;
    position: relative;
    height: 100%;

    .carousel-track2 {
      display: flex;
      transition: transform 0.5s ease; /* Use transform for the slide animation */
      height: 100%;
      list-style: none;

      .carousel-slide {
        flex-shrink: 0;
        height: 100%;

        & img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .title-section {
      height: 100%;
      font-weight: bold;
      color: $white;
      position: relative;
      p {
        position: absolute;
        font-size: 1.1rem;
        bottom: 8px;
        right: 0;
        left: 0;
      }
    }
    .button-slide {
      background-color: $primary;
      border: none;
      padding: 7px 12px;
      border-radius: 20px;
      font-size: 1.2rem;
    }
  }
}
