@import "../../../assets/_colorVariable.scss";

html {
  background-color: $primary;
}
.register-section {
  width: 100%;
  background-color: $primary;
  height: 100vh;
  .register-wrapper {
    width: 35%;
    height: 100%;
    .form-style {
      width: 100%;
      background-color: white;
      border-radius: 10px;
      padding: 8%;
      .input-style {
        border: 1.8px solid $gray-700;
        border-radius: 5px;
      }
      .form-check-input {
        border: 1.2px solid $gray-700;

        -ms-transform: scale(1.4); /* IE */
        -moz-transform: scale(1.4); /* FF */
        -webkit-transform: scale(1.4); /* Safari and Chrome */
        -o-transform: scale(1.4); /* Opera */
      }
    }
  }
}
